.Advert {
  text-align: center;
  background-color: white;
  border: 1px solid rgb(218, 201, 201, 0.7);
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 20px;
}

.Advert figure,
h5 {
  margin: 0 0;
}

.Advert p {
  font-size: small;
  text-align: left;
}

.Icons {
  font-size: 130%;
  padding: 5%;
}

.Icons:hover {
  cursor: pointer;
  font-size: 150%;
}

.Profile:hover {
  text-decoration: none;
  color: black;
  font-size: 110%;
}

.DetailViewLink:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.ImageAndSaleDetaiContainer {
  max-width: 100%;
  object-fit: contain;
}

.AdvertDetails {
  font-weight: bolder;
  color: brown;
}