.SearchBar input,
.SearchBar select {
  color: #7b5a3a;
  padding-left: 40px;
  margin-bottom: 16px;
}

.SearchBar input{
  border-radius: 0 20px 20px 0;
}
.SearchBar select {
  padding-left: 25px;
  border-radius:20px 0% 0% 20px;
}
 
.SearchContainerSelect {
  padding-right: 0%;
}

.SearchContainerInput {
  padding-left: 0%;
}
.SearchBar input:hover,
.SearchBar select:hover {
  border: 4px inset rgb(208, 187, 187);
  background-color: rgb(208, 187, 187, 0.1);

}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: pointer;
  color: brown;
}