.Button {
    background-color: brown;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-out;
    width: 100%;
}

.Button:hover {
    background-color:rgb(128, 88, 88);
    border: 4px inset white;
    font-size: 20px;
}

.Button:focus {
    background-color: rgb(255, 10, 10);
}
  
  