.Form {
    border: none;
    border-bottom: 2px #00d1ff solid;
  }
  
  .Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }

  input[type="radio"] {
    display: none;
  }

  .star {
    cursor: pointer;
    font-size: 2rem;
    margin: 5px;
  }

  .starDisplay {
    font-size: 2rem;
    margin: 5px;
  }