.App {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(241, 227, 227, 0.1);
    margin-top: 100px;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

i {
    color: rgb(200, 167, 124);
}

a {
    color: black;
}

a:hover {
    color: rgb(198, 151, 92);
    cursor: pointer;
    font-size: 130%;
}

a:focus {
    color: brown;
}

.tags {
    padding-top: 20px;
    ;
}

.VisuallyHidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    padding: 0;
    overflow: hidden;
    border: 0;
}